<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @session.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @session.end %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @session.duration %>
</p>

<p>
  <strong>Open:</strong>
  <%= @session.open %>
</p>

<p>
  <strong>Station:</strong>
  <%= @session.station_id %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
