<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mac_addr %><br>
    <%= f.text_field :mac_addr %>
  </div>
  <div class="field">
    <%= f.label :last_seen %><br>
    <%= f.datetime_select :last_seen %>
  </div>
  <div class="field">
    <%= f.label :ignore %><br>
    <%= f.check_box :ignore %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
