<% content_for :header do -%>
<%= stylesheet_link_tag 'lineicons' %>
<% end -%>

<% content_for :title, "Dashboard" %>
<div class="col-md-4 col-sm-4">
  <div class="white-panel pn info-box">
    <div class="white-header">
      <h5>First to get in</h5>
    </div>
    <span class="li_key info-box"></span>
    <p><b><%= @first_in[:name] %></b></p>
    <div class="row">
      <div class="col-md-12">
        <p class="small mt">ARRIVAL TIME</p>
        <p>
          <% unless @first_in[:arrival_time] == "N/D" || @first_in[:arrival_time].nil? %>
            <%= DateTime.parse("#{@first_in[:arrival_time]}").strftime('%H:%M:%S') %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-4">
  <div class="white-panel pn info-box">
    <div class="white-header">
      <h5>Last to get out</h5>
    </div>
    <span class="li_lock info-box"></span>
    <p><b><%= @last_out[:name] %></b></p>
    <div class="row">
      <div class="col-md-12">
        <p class="small mt">LEAVING TIME</p>
        <p>
          <% unless @last_out[:leaving_time] == "N/D" || @last_out[:leaving_time].nil? %>
            <%= DateTime.parse("#{@last_out[:leaving_time]}").strftime('%H:%M:%S') %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-4">
  <div class="white-panel pn info-box">
    <div class="white-header">
      <h5>Total daily visits</h5>
    </div>
    <span class="li_user info-box"></span>
    <p><b><%= @total_visits.to_a.count %></b></p>
    <div class="row">
      <div class="col-md-12">
        <p class="small mt">PEOPLE SO FAR</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

<% unless @present_stations.empty? %>
  <% @present_stations.each do |station| %>
  <div class="col-md-4 col-sm-4 mb">
    <div class="instagram-panel pn">
      <i class="fa fa-user fa-4x"></i>
      <p><%= link_to(station[:station].name || station[:station].mac_addr, station[:station], class: "azzurro") %><br>
        <i class="fa fa-thumb-tack"></i> last seen <%= time_ago_in_words(station[:station].last_seen) %> ago
      </p>
      <p>
        <i class="fa fa-sign-in"></i> <%= station[:station].sessions.opened_today.count %> |
        <i class="fa fa-clock-o"></i>
        <%= time_ago_in_words(station[:total_time].seconds.from_now) %>
      </p>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="col-lg-12">
    <div class="alert alert-info alert-dismissable text-center">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <b>Heads up!</b> There is nobody around.
    </div>
  </div>
<% end %>
