<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Eppedema">

  <title>Guardia di Porta</title>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!--external css-->
  <%= yield(:header) if content_for? :header %>

  <!-- Custom styles for this template -->
  <%= stylesheet_link_tag    'style' %>
  <%= stylesheet_link_tag    'style-responsive' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-toggle="tooltip" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>GUARDIA DI PORTA</b></a>
      <!--logo end-->

    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

          <li class="mt">
            <% current_page?(root_path) ? @classe = "active" : @classe = nil %>
            <%= link_to(root_path , class: @classe) do %>
            <i class="fa fa-dashboard"></i>
            Dashboard
            <% end %>
          </li>

          <li>
            <% current_page?(today_path) ? @classe = "active" : @classe = nil %>
            <%= link_to(today_path , class: @classe) do %>
            <i class="fa fa-clock-o"></i>
            Today
            <% end %>
          </li>

          <li>
            <% current_page?(sessions_path) ? @classe = "active" : @classe = nil %>
            <%= link_to(sessions_path , class: @classe) do %>
            <i class="fa fa-database"></i>
            Timeline
            <% end %>
          </li>

          <li>
            <% current_page?(stations_path) ? @classe = "active" : @classe = nil %>
            <%= link_to(stations_path , class: @classe) do %>
            <i class="fa fa-users"></i>
            Users
            <% end %>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i><%= yield(:title) %></h3>
        <div class="row mt">
          <div class="col-lg-12">
            <%= yield %>
          </div>
        </div>

      </section> <!-- /wrapper -->
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <%= Time.now.year %> - Eppedema
        <a href="#container" class="go-top">
          <i class="fa fa-angle-up"></i>
        </a>
      </div>
    </footer>
    <!--footer end-->
  </section>

  <%= javascript_include_tag 'common-scripts' %>


</body>
</html>
